@model List<DiaNhac>

<partial name="_ThongBao" />

<div class="row">
    <div class="col-md-6">
        <h2>DANH SÁCH ĐĨA NHẠC</h2>
    </div>
    <div class="col-md-6 text-right">
        <a asp-action="Add" class="btn btn-primary">
            Thêm mới
        </a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tựa cd</th>
            <th>Nghệ sĩ</th>
            <th>Thể loại</th>
            <th>Giá bán</th>
            <th>Số lượng</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.TuaCD</td>
            <td>@x.NgheSi</td>
            <td>@(x.TrongNuoc ? "Trong nước" : "Nước ngoài")</td>
            <td>@x.GiaBan</td>
            <td>@x.SoLuong</td>
            <td>
                <a asp-action="Update" asp-route-id="@x.Id" class="btn btn-success">
                    Sửa
                </a>
                <a asp-action="Delete" asp-route-id="@x.Id" class="btn btn-danger">
                    Xoá
                </a>
            </td>
        </tr>}
    </tbody>
</table>
<div class="alert alert-info pt-2">
    Thống kê: Có tất cả <b>@ViewBag.CountCD</b> loại CD - <b> @ViewBag.SUM </b> đĩa nhạc trong cửa hàng.
</div>

